// Body
$body-bg: #f7f9fb;
$ele-bg: rgb(128, 128, 211);
$container: 1024px;
$border: black;
$nav-bg: rgb(59, 54, 54);
$nav-ctive-bg: rgb(59, 54, 54);
$nav-child-bg: rgb(73, 71, 68);
$nav-child-active-bg: rgb(92, 65, 65);