@import 'elements/button';
@import '../assets/font.css';

body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #000;
  font-family: "Source Han Sans";
}

html,
body {
   height: 100%;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

input,
button
 {
  outline: none;
  border: 1px solid $border
}

.app-container {
  height: 100%;
  width: 100%;
}

.page-container {
  min-width: $container;
  margin: 0 auto;
  padding: 0 33px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.clear {
  zoom: 1;
}
